# Environment variables
.env

# Dependencies
node_modules/
venv/
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/

# OS files
.DS_Store

# Frontend Build
frontend/dist/
frontend/build/

# Vercel
.vercel/

# Logs
*.log
